{% unless nav_style == 'drawer' %}
  <style>
    #main-header .nav-dropdown,
    #main-header .nav-dropdown_child {
      position: absolute;
      top: 100%;
      gap: 0;
      align-items: stretch;
      flex-direction: column;
      margin-top: 1px;
      overflow: hidden;
    }
    #main-header .nav-dropdown {
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
    }
    #main-header .nav-dropdown_child {
      position: static;
    }
    #main-header .nav-dropdown a,
    #main-header .nav-dropdown .menu-toggle {
      display: flex;
      min-width: 20ch;
      width: 100%;
      font-size: 15px;
      line-height: 1.5;
      padding: 12px 18px;
      border-bottom: 1px solid rgb(var(--color-foreground), 0.2);
    }
  </style>
{% endunless %}
<ul class="menu-drawer_navigation" x-data="{ activeMenu: null }">
  {% for link in section.settings.menu.links %}
    <li>
      {% if link.links != blank %}
        <button @click="activeMenu = '{{ link.title | escape }}'" class="menu-toggle menu-drawer--toplevel">
          {{ link.title }}
          {{ 'icon-caret.svg' | inline_asset_content }}
        </button>
        <div
          class="menu-subdrawer"
          x-show="activeMenu === '{{ link.title | escape }}'"
          x-transition
          x-cloak
        >
          <div class="back-button">
            <button @click="activeMenu = null">
              {{ 'icon-caret.svg' | inline_asset_content }}
            </button>
            <h3 class="submenu-title">{{ link.title }}</h3>
          </div>
          <ul>
            {% for childlink in link.links %}
              <li>
                <a href="{{ childlink.url }}">{{ childlink.title }}</a>

                {% if childlink.links != blank %}
                  <ul class="pl-4">
                    {% for grandchildlink in childlink.links %}
                      <li>
                        <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <a href="{{ link.url }}" class="menu-drawer--toplevel">{{ link.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
