<style>
  #main-header .nav-megamenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: 1px;
    border-top: 3px solid black;
  }
  #main-header .nav-megamenu .page-width {
    display: grid;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    margin-inline: auto;
    align-items: flex-start;
    padding: 30px;
  }
  #main-header .nav-megamenu .nav-megamenu_child {
    position: static;
    margin-top: 10px;
    display: block;
  }
  #main-header .nav-megamenu_heading {
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
  }
</style>
<ul class="nav-megamenu--wrapper">
  {% for link in section.settings.menu.links %}
    <li x-data="{ menuOpen: false }" class="header-toplevel-menus" @mouseenter="menuOpen = true" @mouseleave="menuOpen = false">
      {% if link.links != blank %}
        <buttonMed Packs
          @click="menuOpen = !menuOpen"
          :class="{ 'menu-open': menuOpen }"
          class="menu-toggle"
        >
          {{- link.title | escape -}}
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </buttonMed>
        <div x-show="menuOpen" x-transition x-cloak class="nav-megamenu color-{{ section.settings.menu_color_scheme }} gradient" >
          <ul class="page-width" role="list">
            <li class="childlink block-level--links">
              {% assign menu_title = link.title | downcase | strip %}
              {% for block in section.blocks %}   
                {% assign map_title = block.settings.map_title_value | downcase | strip %}
                {% if menu_title == map_title %}
                  {% assign indexes = "1,2,3,4,5" | split: "," %}
                  <div class="megamenu-collections">
                    {% for i in indexes %}
                      {% case i %}
                        {% when "1" %}{% assign collection = block.settings.collection_1 %}
                        {% when "2" %}{% assign collection = block.settings.collection_2 %}
                        {% when "3" %}{% assign collection = block.settings.collection_3 %}
                        {% when "4" %}{% assign collection = block.settings.collection_4 %}
                        {% when "5" %}{% assign collection = block.settings.collection_5 %}
                      {% endcase %}
      
                      {% if collection %}
                        <div class="mega-menu-collection-item">
                          <h4 class="block-level--title">{{ collection.title }}</h4>
                          {% assign first_product = collection.products.first %}
                          {% if first_product and first_product.featured_image %}
                            <img
                              src="{{ first_product.featured_image | img_url: '400x' }}"
                              alt="{{ first_product.title | escape }}"
                              loading="lazy"
                              width="36"
                              height="36"
                            >
                          {% endif %}                    
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </li>
            <div class="mega-links--wrapper">
              {%- assign buffer = "" -%}
              {%- assign counter = 0 -%}
            
              {%- for childlink in link.links -%}       
                {% if childlink.links.size > 6 %}
                  <!-- Render full-height column -->
                  <div class="column full-height">
                    <li class="childlink mega-links">
                      <div class="childlink-heading--wrapper">
                        {% if childlink.url contains '/collections/' %}
                          {% assign url_parts = childlink.url | split: '/' %}
                          {% assign collection_handle = url_parts.last %}
                          {% assign collection = collections[collection_handle] %}
                          {% if collection and collection.products.size > 0 %}
                            {% assign first_product = collection.products.first %}
                            {% if first_product.featured_image %}
                              <img
                                src="{{ first_product.featured_image | image_url: width: 480 }}"
                                alt="{{ first_product.title | escape }}"
                                loading="lazy"
                                class="childlink-image"
                              />
                            {% endif %}
                          {% endif %}
                        {% endif %}
            
                        <a
                          href="{{ childlink.url }}"
                          class="nav-megamenu_heading"
                          {% if childlink.current %} aria-current="page"{% endif %}
                        >
                          {{ childlink.title }}
                        </a>
                      </div>
            
                      {%- if childlink.links != blank -%}
                        <ul class="nav-megamenu_child" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                href="{{ grandchildlink.url }}"
                                {% if grandchildlink.current %} aria-current="page"{% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  </div>
                {%- else -%}
                  {% assign counter = counter | plus: 1 %}
                  {% capture buffer %}
                    {{ buffer }}
                    <li class="childlink mega-links half-height">
                      <div class="childlink-heading--wrapper">
                        {% if childlink.url contains '/collections/' %}
                          {% assign url_parts = childlink.url | split: '/' %}
                          {% assign collection_handle = url_parts.last %}
                          {% assign collection = collections[collection_handle] %}
                          {% if collection and collection.products.size > 0 %}
                            {% assign first_product = collection.products.first %}
                            {% if first_product.featured_image %}
                              <img
                                src="{{ first_product.featured_image | image_url: width: 480 }}"
                                alt="{{ first_product.title | escape }}"
                                loading="lazy"
                                class="childlink-image"
                              />
                            {% endif %}
                          {% endif %}
                        {% endif %}
            
                        <a
                          href="{{ childlink.url }}"
                          class="nav-megamenu_heading"
                          {% if childlink.current %} aria-current="page"{% endif %}
                        >
                          {{ childlink.title }}
                        </a>
                      </div>
            
                      {%- if childlink.links != blank -%}
                        <ul class="nav-megamenu_child" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                href="{{ grandchildlink.url }}"
                                {% if grandchildlink.current %} aria-current="page"{% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {% endcapture %}
            
                  {% if counter == 2 or forloop.last %}
                    <div class="column half-height-pair">
                      {{ buffer }}
                    </div>
                    {% assign buffer = "" %}
                    {% assign counter = 0 %}
                  {% endif %}
                {%- endif -%}
              {%- endfor -%}
            </div>
            
            {% assign menu_title = link.title | downcase | strip %}
            {% for block in section.blocks %}   
              {% assign map_title = block.settings.map_title_value_image | downcase | strip %}
              {% if menu_title == map_title %}
                <div class="block-level--image">
                  <img
                    src="{{ block.settings.mega_menu_image | img_url: '400x' }}"
                    loading="lazy"
                    alt="Menu Image"
                  >
                </div>
              {% endif %}
              
            {%- endfor -%}    
          </ul>
        </div>
      {% else %}
        <a
          href="{{ link.url }}"
          {% if link.current %}
            aria-current="page"
          {% endif %}
        >
          {{- link.title | escape -}}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
